
.home {
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 10px;
    padding-bottom: 30px;
    background: radial-gradient(#1d642e, #1c84aa);
    background-size: 50% 200%;
    animation: gradient 50s ease infinite;
    height: 100vh;
}

.about {
    background: radial-gradient(#1d642e, #1c84aa);
    background-size: 50% 200%;
    animation: gradient 50s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 25% 75%;
    }
}

.logo {
    color: black;
    text-align: left;
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 0.75;
    padding-bottom: 40px;
}

.square {
    display: inline-block;
    position: relative;
    width: 17.5%;
    height: 0;
    padding-bottom: 11.5%;
    padding-top: 6%;

    
    border-radius: 40%;
    background-color: black;
    color: rgb(188, 188, 188);
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

.square:hover {
    background-color: rgb(188, 188, 188);
    color: black;
}


.centered-div {
    padding-top: 15vh;
    text-align: center;
}

.topnav {
    float: right;
}

a {
    font-family: Garamond, Helvetica, sans-serif;
    color: rgb(188, 188, 188);
    font-size: 22.5px;
    margin: 17.5px;
    text-decoration: none;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


html {
    scroll-behavior: smooth;
}