.container {
    background: radial-gradient(#1d642e, #1c84aa);
    background-size: 50% 200%;
    animation: gradient 50s ease infinite;
    background: white;
    font-size: 0px;
    padding-bottom: 15vh;
}

@keyframes gradient {
    0% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 25% 75%;
    }
}

.logo {
    color: black;
    text-align: left;
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 0.75;
    padding-bottom: 40px;
    padding-top: 10px;
}

.square {
    display: inline-block;
    position: relative;
    width: 17.5%;
    height: 0;
    padding-bottom: 11%;
    padding-top: 6.5%;

    border-radius: 40%;
    background-color: black;
    color: rgb(188, 188, 188);
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 27.5px;
    text-align: center;
}

.square:hover {
    background-color: rgb(188, 188, 188);
    color: black;
}

.centered-div {
    padding-top: 15vh;
    text-align: center;
}

.topnav {
    float: right;
}

.profile-pic {
    width: 30%;
    float: right;
    border-radius: 20px;
}

.about-container {
    display: inline-block;
}

.about-body {
    font-family: Garamond, Helvetica, sans-serif;
    color: black;
    font-size: 20px;

    padding-top: 20px;
    padding-left: 5%;
    width: 65%;
    float: left;
}

.project-box-hoops {
    width: 100%;
    height: 35vh;
    background-image: url("C:\\sites\\sitev2\\media\\kobe.gif");
    background-color: black;
    border-radius: 50px 50px 50px 50px;
}

.project-box-wm {
    width: 100%;
    height: 35vh;
    background-image: url("C:\\sites\\sitev2\\media\\wm.gif");
    background-color: black;
    border-radius: 50px 50px 50px 50px;
}

.project-box-cad {
    width: 100%;
    height: 35vh;
    background-image: url("C:\\sites\\sitev2\\media\\cad.gif");
    background-color: black;
    border-radius: 50px 50px 50px 50px;
}

.project-box-website {
    width: 100%;
    height: 35vh;
    background-image: url("C:\\sites\\sitev2\\media\\website.gif");
    background-color: black;
    border-radius: 50px 50px 50px 50px;
}

.project-text {
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 30vh;
    border-radius: 50px 50px 50px 50px;

    color: white;
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 17.5px;
    text-align: center;
    padding-top: 5vh;   
}

.ig-logo {
    width: 7.5vw;
    float: left;
    padding-top: 5vw;
    padding-left: 10vw;
}

.email {
    display: inline-block;
    width: 17.5vw;
    height: 17.5vw;
}

.email:hover {
    display: inline-block;
    width: 17.5vw;
    height: 17.5vw;
    background: black;
    border-radius: 20px;
}

.linkedin-logo {
    width: 7.5vw;
    float: right;
    padding-top: 5vw;
    padding-right: 10vw;
}

h1 {
    font-family: Garamond, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    padding-top: 20px;

}

a {
    font-family: Garamond, Helvetica, sans-serif;
    color: rgb(188, 188, 188);
    font-size: 22.5px;
    margin: 17.5px;
    text-decoration: none;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    padding-left: 15vw;
    padding-right: 15vw;
}

html {
    scroll-behavior: smooth;
}